Source: landing-zone
Section: embedded
Priority: optional
Maintainer: Cezary Sobczak <cezary.sobczak@3mdeb.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/3mdeb/landing-zone?organization=3mdeb&organization=3mdeb

Package: landing-zone
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Landing zone measure Linux kernel and then run it.
